html,body {
    width: 100%;
    height: 100%;
    font-family: Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", STXihei, STHeiti, Heiti, SimSun, sans-serif;
    text-shadow: 0 1px 0 black,0 0 5px black;
}

main {
    width: 100%;
    height: 100%;
    position: relative;
}

section.first {
    width: 100%;
    background : url("../image/first-bg.jpg") no-repeat center top;
}
section.first .nav {
    width: 80%;
    max-width: 1170px;
    min-width: 980px;
    margin: 0 auto;
    height: 75px;
}
section.first .nav-left {
    float: left;
}
section.first .logo {
    display: block;
    float: left;
    /* calc  计算 */
    margin-top: calc((75px - 44px)/2);
} 

section.first .nav-left ul {
    float: left;
    padding-left: 20px;
}
section.first .nav-left li {
    float: left;
    font-size: 18px;
    margin-left: 20px;
}
/* section.first .nav-left li:hover {
    background-color: #12b7f5;    
} */
section.first .nav-left ul a{
    display: block;
    line-height: 75px;
    padding: 0 20px;
}
section.first li.active a{
    background-color: #12b7f5;
}

section.first .nav-right {
    float: right;
    width: 320px;
}
section.first .nav-right .signup {
    float: left;
    display: block;
    width: 96px;
    height: 39px;
    background: url("../image/sprite-icon.png") no-repeat 0 -244px;
    margin-top: calc((75px - 39px)/2);
}
section.first .nav-right .extra{
    float: right;
}
section.first .nav-right ul {
    overflow: hidden;
}
section.first .nav-right li {
    float: left;
    font-size: 14px;
    margin-left: 30px;
    line-height: 40px;
}

section.first .nav-right .extra > a{
    display: block;
    text-align: right;
    font-size: 14px;
    letter-spacing: 0.7px;
}

section.first .nav-right .extra > a:hover {
    text-decoration: underline;
}

section.first .site-name {
    width: 220px;
    height: 124px;
    margin:0 auto;
    background: url("../image/site-name.png") no-repeat center center;
}
section.first .download {
    width: 240px;
    height: 53px;
    margin : 20px auto;
    background: url("../image/download.png") no-repeat center center;
}
section.first .feature {
    width: 812px;
    height: 147px;
    margin:0 auto;
    background: url("../image/feture.png") no-repeat center center;
}
section.first .doc {
    width: 98%;
    margin: 0 auto;
}
section.first .doc img {
    width: 100%;
    height: auto;
    vertical-align: middle;
}
section.first .imqq {
    width: 100%;
    height: 280px;
    background: url("../image/imqq.png") no-repeat center top;
    background-size: cover;
}

/* 第二屏 */
.second {
    width: 100%;
    height: 600px;
    background: url("../image/firstimage.jpg") no-repeat center center; 
    background-size: cover;
    background-attachment: fixed;
}

/* 第三屏 */
.third {
    width: 100%;
    height: 584px;
    background-color:#fff;
}
.third .third-wrap {
    width: 960px;
    height: 100%;
    position: relative;
    margin: 0 auto;
}
.third .third-left {
    position: absolute;
    left: -32px;
    bottom: 0;
    width: 664px;
    height: 763px;
    background: url("../image/third-iphone.png") no-repeat;
}
.third .third-right {
    position: absolute;
    right: 7px;
    top: 115px;
    width: 487px;
}
.third .goutong {
    width: 100%;
    height: 135px;
    background: url("../image/third-goutong.png") no-repeat center top;
}
.third .third-right p {
    font-size: 18px;
    text-align: right;
    line-height: 25px;
    letter-spacing: 2px;
    opacity: 0.6;
    margin-bottom: 12px;
}

.third .third-right .more {
    display: block;
    text-align: right;
    font-size: 20px;
    color: #12b7f5;
    opacity: 0.6;
}
.third .third-right ul {
    overflow: hidden;
    margin-top: 20px;
}
.third .third-right li {
    float: right;
    font-size: 14px;
    padding:58px 0 0;
    text-align: center;
}

.third .third-right li:first-child {
    width: 80px;
    background: url("../image/third-feture.png") no-repeat 20px 0 ;
    padding-left:4px; 
    
}
.third .third-right li:nth-child(2) {
    width: 110px;
    background: url("../image/third-feture.png") no-repeat -103px 0 ;
    border-right: 1px solid #e9e9e9;
    text-align: center;
}
.third .third-right li:last-child {
    width: 130px;
    background: url("../image/third-feture.png") no-repeat -200px 0 ;
    /* padding-left: 26px; */
    border-right: 1px solid #e9e9e9;
}
.third .third-right li a{
    color:#a0a0a0;
}


/* 第四屏 */
.fourth {
    width: 100%;
    height: 600px;
    background: url("../image/fourthimage.jpg") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

/* 第五屏 */
.fifth {
    width: 100%;
    height: 584px;
}
.fifth .fifth-wrap {
    width: 960px;
    height: 100%;
    position: relative;
    margin: 0 auto;
}
.fifth .fifth-right {
    position: absolute;
    right: -100px;
    bottom: 104px;
    width: 597px;
    height: 330px;
    background: url("../image/fifth-computer.png") no-repeat;
}

.fifth .fifth-left {
    position: absolute;
    top: 115px;
    width: 487px;
}
.fifth .goutong1 {
    width: 100%;
    height: 135px;
    background: url("../image/fifth-goutong.png") no-repeat left top;
}
.fifth .fifth-left p {
    font-size: 18px;
    text-align: left;
    line-height: 25px;
    letter-spacing: 2px;
    opacity: 0.6;
    margin-bottom: 12px;
}

.fifth .fifth-left .more {
    display: block;
    text-align: left;
    font-size: 20px;
    color: #12b7f5;
    opacity: 0.6;
    padding: 20px 0;
}

.fifth .fifth-left li {
    float: left;
    font-size: 14px;
    padding:58px 0 0;
}
.fifth .fifth-left li:first-child {
    width: 94px;
    background: url("../image/fifth-feture.png") no-repeat 0 0 ;
    border-right: 1px solid #e9e9e9;
    padding-left:4px; 
    
}
.fifth .fifth-left li:nth-child(2) {
    width: 113px;
    background: url("../image/fifth-feture.png") no-repeat -84px 0 ;
    border-right: 1px solid #e9e9e9;
    text-align: center;
}
.fifth .fifth-left li:last-child {
    width: 108px;
    background: url("../image/fifth-feture.png") no-repeat -200px 0 ;
    padding-left: 26px;
}
.fifth .fifth-left li a {
    color:#a0a0a0;
}

/* 第六屏 */
.sixth {
    width: 100%;
    height: 600px;
    background: url("../image/siximage.jpg") no-repeat center top;
    background-size: cover;
    background-attachment: fixed;
}

/* 第七屏 */
.seventh {
    width: 100%;
    height: 584px;
}
.seventh .seventh-wrap {
    width: 960px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.seventh .seventh-left {
    position: absolute;
    left: 88px;
    bottom: 0;
    width: 344px;
    height: 506px;
    background: url("../image/seven-iphone.png") no-repeat -30px 0;
}

.seventh .seventh-right {
    position: absolute;
    right: 7px;
    top: 115px;
    width: 487px;
}
.seventh .goutong2 {
    width: 100%;
    height: 135px;
    background: url("../image/seventh-goutong.png") no-repeat center top;
    margin-top: 20px;
}
.seventh .seventh-right p {
    font-size: 18px;
    text-align: right;
    line-height: 25px;
    letter-spacing: 2px;
    opacity: 0.6;
    margin-bottom: 12px;
}

.seventh .seventh-right .more {
    display: block;
    text-align: right;
    font-size: 20px;
    color: #12b7f5;
    opacity: 0.6;
    margin-bottom: 60px;
}
.seventh .seventh-right ul {
    overflow: hidden;
    margin-top: 20px;
}
.seventh .seventh-right li {
    float: right;
    font-size: 14px;
    padding:58px 0 0;
    text-align: center;
}

.seventh .seventh-right li:first-child {
    width: 100px;
    background: url("../image/seventh-feture.png") no-repeat 28px 0 ;
    padding-left:4px; 
    
}
.seventh .seventh-right li:nth-child(2) {
    width: 110px;
    background: url("../image/seventh-feture.png") no-repeat -76px 0 ;
    border-right: 1px solid #e9e9e9;
    text-align: center;
}
.seventh .seventh-right li:last-child {
    width: 130px;
    background: url("../image/seventh-feture.png") no-repeat -176px 0 ;
    border-right: 1px solid #e9e9e9;
}
.seventh .seventh-right li a{
    color:#a0a0a0;
}


/* footer */

.newfoot {
    width: 100%;
    height: 348px;
    padding-top: 34px;
    background: #2a2a2a;
    font-size: 0.75em;
}

.newfoot a:link,
.newfoot a:visited {
    color: #979797;
}

.newfoot a:hover {
    color: #cfcfcf;
}

.qmaps {
    width: 960px;
    height: 205px;
    margin: 0 auto;
}

.plats {
    float: left;
    width: 510px;
    padding-left: 8px;
}

.plats h3 {
    height: 50px;
    color: #666;
    font-size: 14px;
}

.plats a {
    float: left;
    padding-top: 65px;
    background: transparent url(../image/plats1.png) no-repeat 0 0;
    text-align: center;
    font-size: 14px;
}

.plats a:hover {
    color: #12b7f5;
}

.plats a.plmb {
    width: 80px;
    margin-right: 35px;
    background-position: 0px 0;
}

.plats a.plmb:hover {
    background-position: 0px -93px;
}

.plats a.plpc {
    width: 80px;
    margin-right: 30px;
    background-position: -105px 0;
}

.plats a.plpc:hover {
    background-position: -105px -93px;
}

.plats a.plmac {
    width: 84px;
    margin-right: 30px;
    background-position: -210px 0;
}

.plats a.plmac:hover {
    background-position: -210px -93px;
}

.plats a.plpad {
    width: 76px;
    background-position: -326px 0;
}

.plats a.plpad:hover {
    background-position: -326px -93px;
}

.map {
    float: left;
}

.map h3 {
    height: 25px;
    color: #666;
    font-size: 14px;
}

.map li {
    line-height: 22px;
}

.qac {
    width: 185px;
}

.qfaq {
    width: 175px;
}

.qlink {
    width: 80px;
}

.copyright {
    clear: both;
    width: 960px;
    margin: 0 auto;
    padding-top: 16px;
    border-top: 1px solid #666;
    line-height: 17px;
    text-align: center;
    color: #666;
}